@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@font-face {
  font-family: Norse-Bold;
  src: url(/src/font/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Rubik, sans-serif;
}

header,
footer {
  color: white;
  background-color: #1f244b;
  padding: 8px;
}

#logo-container {
  display: flex;
  align-items: center;
}

#odin-logo {
  height: 44px;
  width: auto;
}

#logo-text {
  color: white;
  font-family: Norse-Bold;
  font-size: 24px;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 8px;
}

nav {
  padding: 8px;
}

.nav-item {
  list-style-type: none;
}

li > button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-48px {
  font-size: 48px;
}

.font-20px {
  font-size: 20px;
}
