@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@font-face {
  font-family: Norse-Bold;
  src: url(/src/font/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
}

header,
footer {
  color: white;
  background-color: #1f244b;
  padding: 8px;
}

#logo-container {
  display: flex;
  align-items: center;
}

#odin-logo {
  height: 44px;
  width: auto;
}

#logo-text {
  color: white;
  font-family: Norse-Bold;
  font-size: 24px;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: absolute;
  top: 117px;
  bottom: 40px;
  width: 100%;
}

nav {
  padding: 8px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-item {
  list-style-type: none;
}

.nav-btn {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  gap: 4px;
}

.nav-btn:hover {
  background-color: #b8b5b9;
}

#tasks-title,
#nav-list-tasks,
#nav-list-projects,
#projects-title {
  margin: 8px;
}

#project-name {
  border: black 2px solid;
  border-radius: 4px;
  width: 100%;
}

#new-project-popup-buttons {
  justify-content: space-around;
  gap: 8px;
}

#accept-new-project-btn,
#cancel-new-project-btn {
  color: white;
  padding: 8px;
  margin-top: 8px;
  border: black 2px solid;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

#accept-new-project-btn {
  background-color: #8ab060;
}

#cancel-new-project-btn {
  background-color: #b45252;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-48px {
  font-size: 48px;
}

.font-20px {
  font-size: 20px;
}
